apiVersion: apps/v1
kind: Deployment
metadata:
  name: phos-patientportal
  namespace: demo
  labels:
    app: phos-patientportal
    component: frontend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: phos-patientportal
  template:
    metadata:
      labels:
        app: phos-patientportal
        component: frontend
    spec:
      containers:
      - name: phos-patientportal
        image: phos/patientportal:latest
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 3001
        resources:
          limits:
            cpu: "300m"
            memory: "384Mi"
          requests:
            cpu: "100m"
            memory: "128Mi"
        env:
        - name: NODE_ENV
          value: "production"
        - name: REACT_APP_API_URL
          value: "http://phos-apigateway"
        livenessProbe:
          httpGet:
            path: /
            port: 3001
          initialDelaySeconds: 30
          periodSeconds: 10
        readinessProbe:
          httpGet:
            path: /
            port: 3001
          initialDelaySeconds: 15
          periodSeconds: 5
